*{
    margin: 0px;
    box-sizing: border-box;
}

.site-header {
  background-color: #4EA487; 
  padding: 20px 24px;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.site-header .logo img {
  display: block;
  max-height: 50px;
  width: auto;
}

.main-nav {
  display: flex;
  gap: 32px;
}